#flex {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex_container {
    display: flex;
    background-color: black;
    height: 6rem;
    padding: 2rem;
  }

  .icon, .header {
    font-size: 2rem;
    color: whitesmoke;
    margin: .5rem;
  }

  .search_bar {
      padding: 0;
  }